.faq{
    padding: 0 var(--p-mobile); 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 0 auto 10rem; 
    max-width: 50rem; 
}

.textBox{
    text-align: center; 
    margin-bottom: 3rem; 
}

.title{
    font-weight: 500;
    font-size: var(--t-h2-mobile);
    color: var(--c-blue-dark); 
    line-height: 2.3rem;
    margin-bottom: 1rem; 
}

.paragraph{
    font-size: var(--t-body); 
    color: var(--c-gray); 
    max-width: 27rem; 
}

.questionBox{
    display: flex; 
    flex-direction: column; 
    gap: 2rem; 
    margin-bottom: 4rem; 
    width: 100%; 
}

.divider{
    width: 100%;
    height: 1px;
    background-color: rgb(209, 208, 208);
}

@media (min-width: 750px) {
    .title{
        font-size: var(--t-h2-desktop); 
    }

    .textBox{
        display: flex; 
        align-items: center; 
        flex-direction: column; 
    }
}